/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
    chosen {
        zephyr,ppp_uart=&usart2;
        zephyr,console = &usart1;
    };

    pza_dio: panduza-dio {
        compatible = "panduza,dios";
        #gpio-cells = <2>;
        pza-gpios = <&gpioa 5 GPIO_ACTIVE_HIGH>,
                    <&gpioc 13 GPIO_ACTIVE_LOW>;
    };
};
