#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	chosen {
		zephyr,ppp_uart=&cdc_acm_uart;
		zephyr,console = &uart0;
	};

	buttons {
		compatible = "gpio-keys";
		user_button: button_1 {
			label = "button1";
			gpios = <&gpio0 12 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_KEY_0>;
		};
	};

	aliases {
		sw0 = &user_button;
	};
};

&zephyr_udc0 {
	cdc_acm_uart: cdc_acm_uart {
		compatible = "zephyr,cdc-acm-uart";
	};
};

&gpio0 {
	status = "okay";
};
